# Environment variables for the application

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=mohdatashop
PG_USER=mac
PG_PASSWORD=

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=mohdatashop
